* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    color: antiquewhite;
    background-color: #1B1B1E;
    
}

.titulo1 {
  padding: 2%;
}

.Menu {
    
    display: flex;
    
    justify-content: space-evenly;
    background-color: #96031A;            
    color:antiquewhite;
    padding: 20px;
    text-decoration: none;
   
}

header {
  background-color: #96031A;
}

.menu1 {
    color: rgb(234, 219, 248);
    text-decoration: none;
    transition: all 0.3s;
    
  }

  .menu1:hover {
    transform: scale(1.2);
  }
  .menu2 {
    color: rgb(234, 219, 248);
    text-decoration: none;
    transition: all 0.3s;
  }

  .menu2:hover {
    transform: scale(1.2);   
}

  .menu3 {
    color: rgb(234, 219, 248);
    text-decoration: none;
    transition: all 0.3s;
  }

  .menu3:hover {
    transform: scale(1.2);
    }

  .menu4 {
    color: rgb(234, 219, 248);
    text-decoration: none;
    transition: all 0.3s;
  }

  .menu4:hover {
    transform: scale(1.2);    
  }

  .menu5 {
    color: rgb(234, 219, 248);
    text-decoration: none;
    transition: all 0.3s;
  }

  .menu5:hover {
    transform: scale(1.2);
    
  }

  .menu6 {
    color: rgb(234, 219, 248);
    text-decoration: none;
    transition: all 0.3s;
  }

  .menu6:hover {
    transform: scale(1.2);    
  }

.titulo__articulo {
    padding: 20px 0%;
  }

  @media (min-width: 577px) {

  .articulos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10% 2% ;
    
  }
 

  .articulo1 {
    padding: 10% 10% 15% 10%;
  }

  .articulo2 {
    padding: 10% 10% 15% 10%;
  }

  .articulo3 {
    padding: 10% 10% 30% 10%;
  }

  }

  /* MOBILE */ 
@media (max-width: 576px) {
    .Menu {
    background-color: #96031A;            
    color:antiquewhite;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    display: grid;
    grid-template-rows: 20px ;
    }

    .titulo {
        text-align: center;
        
    }

    .titulo1 {
        padding: 5%;
    }

    .articulos {
      
      padding: 0;
      
    }

    .articulo1 {
      padding: 30% 10% 15% 10%;
    }

    .titulo__articulo {
      padding: 20px 0%;
    }

    .articulo2 {
      padding: 15% 10% 15% 10%;
    }

    .articulo3 {
      padding: 15% 10% 30% 10%;
    }

    }
    
    .footer {
      padding: 2%;
      background-color: #3A3A40;
      

    }

    .redes {
      position: fixed;
      bottom: 0;
      right: 5px;
      margin: 10px;
      padding: 10px;
      border-radius: 20px;
      transition: all 0.5s;
      list-style: none;
      } 